# Python
*.py[cod]

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
cover/
.tox
nosetests.xml
.noseids

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Exclude auto generated vim doc tags.
doc/tags

# ycmd
third_party/ycmd
